/* mixin */
@mixin colortext {
    color: #110B11;
}

/* map */
$headings: (
    h1: 4em,
    h2: 3em,
    h3: 2em,
    h4: 1.5em,
    h5: 0.75em,
    h6: 0.35em
);

$h1: map-get($headings, h1);

$h2: map-get($headings, h2);

$h3: map-get($headings, h3);

$h4: map-get($headings, h4);

$h5: map-get($headings, h5);

$h6: map-get($headings, h6);

/* extend */
.bcground {
    background-color: #BBC7CE;
}
