@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap');

/* pagina contactos */
.contactos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;

    .contactos__form {
        background-color: #f4f4f4;
        padding: 20px 40px;
        border-radius: 5px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #4d4a4b;
            font-weight: 600;
        }

        .contactos__form__btn {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            background: #4d4a4b;
            color: white;
            padding: 15px;
            font-family: inherit;
            border: 0;
            border-radius: 5px;
        }

        .contactos__form__btn:focus {
            outline: 0;
        }

        .contactos__form__btn:active {
            transform: scale(0.98);
        }

        .contactos__form__ct {
            position: relative;
            margin: 20px 0 40px;
            width: 300px;

            input {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #4d4a4b;
            }

            input:focus,
            input:valid {
                outline: 0;
                border-bottom-color: #4d4a4b;
            }

            textarea {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #4d4a4b;
            }

            textarea:focus,
            textarea:valid {
                outline: 0;
                border-bottom-color: #4d4a4b;
            }

            label {
                position: absolute;
                top: 15px;
                left: 0;
                pointer-events: none;
            }

            label span {
                display: inline-block;
                font-size: 18px;
                min-width: 5px;
                transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            input:focus+label span,
            input:valid+label span {
                color: lightblue;
                transform: translateY(-30px);
            }

        }
    }
}


/* titulo de paginas */
.title_h {
    padding-top: 20px;
    height: 100px;
    text-align: center;

    h1 {
        display: inline-block;
        position: relative;
        font-size: 50px;
        font-weight: 900;
        color: #4d4a4b;
    }

    h1::after,
    ::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: #4d4a4b;
        top: 0.6em;
    }


    h1::before {
        left: -140px;
    }


    h1::after {
        right: -140px;
    }
}

.title_slct {
    direction: rtl;
    padding: 0 10px 10px;
}

/* pagina de productos */
.prod__sp {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    .prod__sp__dv {
        cursor: pointer;

        img {
            width: 300px;
        }

        p {
            border-bottom: #4d4a4b;
        }
    }
}

/* pagina de rutinas */
.fo {
    display: flex;

    .fo__dv {
        width: 25rem;
        margin: 30px;

    .fo__dv:hover {
        width: 28rem;
        border: 3px #ffff51;
    }

        .fo__card{
            text-align: center;
        }
    }
}

/* pagina resultados */

#container {
    max-width: 1101px;
    margin: 0 7%;

    .res {
        padding: 0;
        margin: auto;
        clear: both;

        .res__dv {
            overflow: hidden;
            border-top: 3px solid #4d4a4b;
            padding: 40px 5px 40px 5px;

            .res__dv__img {
                width: 50%;
                float: right;

                img {
                    float: left;
                    padding: 1.5%;
                    width: 45%;
                    height: auto;
                }
            }

            h2 {
                font-size: 20px;
            }

            .res__dv__img2 {
                width: 50%;
                float: left;
                padding: 0 20px 0 0;

                img {
                    float: left;
                    padding: 1.5%;
                    width: 45%;
                    height: auto;
                }
            }
        }
    }
}