@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap');

/* pagina contactos */
.contactos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 50px;

    .contactos__form {
        background-color: #f4f4f4;
        padding: 20px 40px;
        border-radius: 5px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #4d4a4b;
            font-weight: 600;
        }

        .contactos__form__btn {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            background: #4d4a4b;
            color: white;
            padding: 15px;
            font-family: inherit;
            border: 0;
            border-radius: 5px;
        }

        .contactos__form__btn:focus {
            outline: 0;
        }

        .contactos__form__btn:active {
            transform: scale(0.98);
        }

        .contactos__form__ct {
            position: relative;
            margin: 20px 0 40px;
            width: 300px;

            input {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #4d4a4b;
            }

            input:focus,
            input:valid {
                outline: 0;
                border-bottom-color: #4d4a4b;
            }

            textarea {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #4d4a4b;
            }

            textarea:focus,
            textarea:valid {
                outline: 0;
                border-bottom-color: #4d4a4b;
            }

            label {
                position: absolute;
                top: 15px;
                left: 0;
                pointer-events: none;
            }

            label span {
                display: inline-block;
                font-size: 18px;
                min-width: 5px;
                transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            input:focus+label span,
            input:valid+label span {
                color: lightblue;
                transform: translateY(-30px);
            }

        }
    }
}


/* titulo de paginas */
.title_h {
    padding-top: 20px;
    height: 100px;
    text-align: center;

    h1 {
        display: inline-block;
        position: relative;
        font-size: 50px;
        font-weight: 800;
        color: #4d4a4b;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 5px;
    }

    h1::after,
    ::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: #4d4a4b;
        top: 0.6em;
    }


    h1::before {
        left: -140px;
    }


    h1::after {
        right: -140px;
    }
}

.title_slct {
    direction: rtl;
    padding: 0 10px 10px;
}

/* pagina de productos */
.prod__sp {
    margin: 60px 0 60px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    .prod__sp__dv {
        div {
            margin: 20px;
            background: white;
            position: relative;
            text-align: center;
            color: #4d4a4b;

        }

        div::after {
            position: absolute;
            top: 0;
            left: 0px;
            content: '';
            background-image: radial-gradient(circle at 25.18% 25.18%, #ffffe6 0, #ffffcf 25%, #f2f2b5 50%, #dadf9c 75%, #c4cf87 100%);
            width: 100%;
            height: 100%;
            filter: blur(10px);
            z-index: -1;
        }

        img {
            width: 300px;
            cursor: pointer;
        }

        p {
            border-top: #c4cf87 1px solid;
        }

        .btns {
            width: auto;
            display: -webkit-box;

            div {
                cursor: pointer;
            }

            a {
                text-decoration: none;
                color: #4d4a4b;
                margin: 20px;
                text-transform: uppercase;
                color: #f34739;
            }
        }
    }


}

/* pagina de rutinas */
.fo {
    display: flex;
    justify-content: center;
    margin: 60px 0 80px;

    .fo__dv {
        background: #f4f4f4;
        width: 300px;
        margin: 30px;
        position: relative;

        img {
            width: 300px;
            height: auto;
        }
    }

    .fo__dv::after {
        position: absolute;
        top: 0;
        left: 0px;
        content: '';
        background-image: radial-gradient(circle at 29.68% 14.81%, #ffff86 0, #ffff79 10%, #ffff6d 20%, #fff264 30%, #ffd85b 40%, #f2bd53 50%, #dea34c 60%, #cb8c47 70%, #ba7a43 80%, #ab6a40 90%, #9f5d3e 100%);
        ;
        width: 100%;
        height: 100%;
        filter: blur(15px);
        z-index: -1;
    }

    .fo__card {
        padding: 20px;
        text-align: center;

        h5 {
            font-family: fantasy;
        }

        p {
            margin-top: 15px;
            color: #f0d442;
        }
    }

    .fo__ul {
        list-style-type: disclosure-closed;
        margin: 20px;
        color: #fea304;
    }

    .fo__btn {
        margin: 20px;
        text-align: center;

        a {
            margin-top: 20px;
            padding: 10px;
            border-color: #f34739;
            color: #f34739;
            font-size: 10px;
        }

        a:hover {
            background-color: #f34739;
            color: #fea304;
        }
    }


}

/* pagina resultados */

#container {
    max-width: 1101px;
    margin: 7%;

    .res {
        padding: 0;
        margin: auto;
        clear: both;

        .res__dv {
            overflow: hidden;
            border-top: 3px solid #4d4a4b;
            padding: 40px 5px 40px 5px;

            .res__dv__img {
                width: 50%;
                float: right;

                img {
                    float: left;
                    padding: 1.5%;
                    width: 45%;
                    height: auto;
                }
            }

            h2 {
                font-size: 20px;
                font-weight: 900;
                color: #4d4a4b;
            }

            .res__dv__img2 {
                width: 50%;
                float: left;
                padding: 0 20px 0 0;

                img {
                    float: left;
                    padding: 1.5%;
                    width: 45%;
                    height: auto;
                }
            }
        }
    }
}