@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap');

/* pagina contactos */
.contactos {
    background-color: #AA96DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    .contactos__form {
        background-color: #393e467d;
        padding: 20px 40px;
        border-radius: 5px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .contactos__form__btn {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            background: lightblue;
            padding: 15px;
            font-family: inherit;
            border: 0;
            border-radius: 5px;
        }

        .contactos__form__btn:focus {
            outline: 0;
        }

        .contactos__form__btn:active {
            transform: scale(0.98);
        }

        .contactos__form__ct {
            position: relative;
            margin: 20px 0 40px;
            width: 300px;

            input {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #fff;
            }

            input:focus,
            input:valid {
                outline: 0;
                border-bottom-color: lightblue;
            }

            textarea {
                background-color: transparent;
                border: 0;
                border-bottom: 2px #fff solid;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #fff;
            }

            textarea:focus,
            textarea:valid {
                outline: 0;
                border-bottom-color: lightblue;
            }

            label {
                position: absolute;
                top: 15px;
                left: 0;
                pointer-events: none;
            }

            label span {
                display: inline-block;
                font-size: 18px;
                min-width: 5px;
                transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            input:focus+label span,
            input:valid+label span {
                color: lightblue;
                transform: translateY(-30px);
            }

        }
    }
}


/* titulo de paginas */
.title_h {
    padding-top: 20px;
    height: 100px;
    text-align: center;
    font-size: 40px;

    h1 {
        display: inline-block;
        position: relative;
        font-size: $h4;
        font-family: 'Paytone One', sans-serif;
    }

    h1::after,
    ::before {
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: black;
        top: 0.6em;
    }


    h1::before {
        left: -140px;
    }


    h1::after {
        right: -140px;
    }
}

.title_slct {
    direction: rtl;
    padding: 0 10px 10px;
}

/* pagina de productos */
.prod__sp {
    height: 120vh;
    width: auto;
    display: flex;
    justify-content: center;

    .prod__sp__dv {
        margin: 20px;

        div {
            background-color: #f4f4f4;
        }
    }
}

/* pagina de rutinas */

/* pagina resultados */
.res {
    width: 100vh
}