@import 'vars';
@import 'pages';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.collapse {
    display: flex;
    justify-content: flex-end;

    .nav-link{
        font-weight: 600;
        color: #4d4a4b;
    }
    .nav-link:hover{
        color: #aaaaaa;
    }
}

.main {
    background: white;

    .main__banner {
        position: relative;
        background-size: cover;
        background-position: center;

        img {
            width: -webkit-fill-available;
            height: min-content;
        }
    }

    .main__img {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 50px 0 50px;

        h2 {
            font-size: 25px;
            padding: 20px;
            font-weight: bolder;
            color: #333237;
        }

        a {
            text-decoration: none;
        }

        .btn {
            color: #4d4a4b;
            border-color: #4d4a4b;
        }

        .btn:hover{
            background-color: #4d4a4b;
            color: #f4f4f4;
        }
    }

}


.news {
    background-color: #f4f4f4;
    color: #4d4a4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;

    .news__h {
        text-align: center;

        h1 {
            font-size: 40px;
            font-weight: 900;
            margin: 40px;
        }

        h2 {
            font-size: 40px;
            font-weight: 900;
            margin: 40px;
        }

        p {
            font-size: 15px;
        }
    }

    .news_btn {
        padding-bottom: 30px;

        input {
            height: 37px;
            border-radius: 5px;
            border: 1px #4d4a4b solid;
        }

        .btn {
            color: #4d4a4b;
            border-color: #4d4a4b;
        }

        .btn:hover{
            background-color: #4d4a4b;
            color: #f4f4f4;
        }
    }
}

.footer {
    background-color: white;
    grid-column: 1/6;

    .footer__dv {
        height: 100px;

        .footer__dv__ul {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;


            li {
                list-style: none;
            }

            a {
                color: #4d4a4b;
                text-decoration: none;
                font-weight: 900;
            }

            a:hover {
                color: gray;
            }
        }
    }

    .footer__dv2 {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__dv2__im {
            width: 200px;
        }

        img {
            width: 40px;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;

        }
    }

    .footer__end {
        font-size: 15px;
        text-align: center;
    }
}