/* variables */
/* variables */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap");
/* pagina contactos */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap&family=Staatliches&display=swapfamily=Rubik:wght@500&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Alfa+Slab+One&display=swapfamily=Paytone+One&display=swap");
.contactos {
  background-color: #AA96DA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.contactos .contactos__form {
  background-color: rgba(57, 62, 70, 0.4901960784);
  padding: 20px 40px;
  border-radius: 5px;
}
.contactos .contactos__form h2 {
  text-align: center;
  margin-bottom: 30px;
}
.contactos .contactos__form .contactos__form__btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
}
.contactos .contactos__form .contactos__form__btn:focus {
  outline: 0;
}
.contactos .contactos__form .contactos__form__btn:active {
  transform: scale(0.98);
}
.contactos .contactos__form .contactos__form__ct {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.contactos .contactos__form .contactos__form__ct input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.contactos .contactos__form .contactos__form__ct input:focus,
.contactos .contactos__form .contactos__form__ct input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
.contactos .contactos__form .contactos__form__ct textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.contactos .contactos__form .contactos__form__ct textarea:focus,
.contactos .contactos__form .contactos__form__ct textarea:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
.contactos .contactos__form .contactos__form__ct label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.contactos .contactos__form .contactos__form__ct label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contactos .contactos__form .contactos__form__ct input:focus + label span,
.contactos .contactos__form .contactos__form__ct input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

/* titulo de paginas */
.title_h {
  padding-top: 20px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}
.title_h h1 {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  font-family: "Paytone One", sans-serif;
}
.title_h h1::after,
.title_h ::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: black;
  top: 0.6em;
}
.title_h h1::before {
  left: -140px;
}
.title_h h1::after {
  right: -140px;
}

.title_slct {
  direction: rtl;
  padding: 0 10px 10px;
}

/* pagina de productos */
.prod__sp {
  height: 120vh;
  width: auto;
  display: flex;
  justify-content: center;
}
.prod__sp .prod__sp__dv {
  margin: 20px;
}
.prod__sp .prod__sp__dv div {
  background-color: #f4f4f4;
}

/* pagina de rutinas */
/* pagina resultados */
.res {
  width: 100vh;
}

@media (min-width: 768px) {
  .main .main__img {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .main .main__img2 {
    padding: 0 50px;
  }
  .main .main__img2 .main__img2__prod {
    width: 200px;
  }
  .main .main__img2 .main__img2__table {
    padding-right: 10px;
  }

  .footer .footer__a__logo {
    display: none;
  }
  .footer .footer__a__menu {
    padding-left: 50px;
  }

  /* contactos */
  .contactos__ct {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30px;
    align-items: center;
  }
  .contactos__ct .contactos__ct__map {
    padding-left: 150px;
    width: 400px;
  }
  .contactos__ct .contactos__ct__form {
    padding-left: 50px;
  }
}
/* mixin */
/* map */
/* extend */
.bcground, .news {
  background-color: #BBC7CE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.main {
  background: white;
  color: #110B11;
  grid-column: 1/6;
}
.main .main__banner {
  position: relative;
  background-size: cover;
  background-position: center;
}
.main .main__banner img {
  width: -webkit-fill-available;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.main .main__img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.main .main__img h2 {
  font-size: 1.5em;
  padding: 20px;
  font-weight: bolder;
  color: #333237;
}
.main .main__img a {
  text-decoration: none;
  color: #110B11;
}

.news {
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 1/6;
  height: 300px;
}
.news .news__h h1 {
  font-size: 3em;
  font-weight: 900;
}
.news .news__h p {
  margin: 50px;
  font-size: 15px;
}
.news .news__check {
  margin-bottom: 50px;
}
.news .news__email {
  display: flex;
  padding-bottom: 30px;
}
.news .news__email .news__email__em {
  border: #111DFF;
  border-radius: 10px;
}
.news .news__email .news__email__submit {
  width: 50px;
  border: 2px;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.news .news__email .news__email__submit:hover {
  background-color: grey;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  background-color: white;
  grid-column: 1/6;
}
.footer .footer__dv {
  height: 100px;
}
.footer .footer__dv .footer__dv__ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footer__dv .footer__dv__ul li {
  list-style: none;
}
.footer .footer__dv .footer__dv__ul a {
  color: #4d4a4b;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
}
.footer .footer__dv .footer__dv__ul a:hover {
  color: gray;
}
.footer .footer__dv2 {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__dv2 .footer__dv2__im {
  width: 200px;
}
.footer .footer__dv2 img {
  width: 40px;
}
.footer .footer__dv2 h3 {
  font-size: 1.5em;
}
.footer .footer__end {
  font-size: 0.35em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */